* {
  margin: 0;
  padding: 0; }

header {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #666; }
  header .logo {
    padding: 9px 0 0 10px;
    font: 35px Bitter;
    color: #eee; }
  header .images {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }
    header .images .image-button {
      position: relative;
      background-color: #222;
      float: left;
      width: 40px;
      height: 40px;
      margin: 5px;
      border-radius: 5px; }
      header .images .image-button img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

body {
  overflow: hidden; }

.icon-button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #eee;
  background-size: 40px 40px;
  font-size: 11px;
  cursor: pointer; }
  .icon-button.disabled {
    opacity: .25;
    cursor: default; }

.icon-max {
  background-image: url(../img/icons/max.png); }

.icon-up {
  background-image: url(../img/icons/up.png); }

.icon-down {
  background-image: url(../img/icons/down.png); }

.icon-min {
  background-image: url(../img/icons/min.png); }

#display, #content {
  position: relative;
  width: 100%;
  height: calc(50% - 30px);
  transition: height .2s ease-in-out; }

#display.toggle-mode {
  height: calc(100% - 60px);
  transition: height .3s ease-in-out; }

#content.toggle-mode {
  height: 0;
  padding: 0;
  transition: height .3s ease-in-out,  padding .3s ease-in-out; }

#display .controls {
  margin: 10px 0 0 10px; }
  #display .controls .icon-button {
    float: left;
    margin-right: 10px; }
#display .ratio-controls {
  position: absolute;
  right: 10px;
  bottom: 10px; }
  #display .ratio-controls .icon-button {
    margin-top: 10px; }

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#content {
  overflow-y: auto;
  box-sizing: border-box;
  padding: 10px;
  background-color: #eee; }
  #content .color-container {
    float: left;
    width: 70px;
    height: 70px;
    margin: 3px;
    background-color: #444;
    border-radius: 5px;
    cursor: pointer; }
    #content .color-container .color {
      width: 100%;
      font: 14px Bitter;
      color: #ccc;
      text-align: center; }
    #content .color-container.selected-source .color {
      height: 30px;
      margin-top: 21px;
      background-color: rgba(68, 68, 68, 0.8); }
      #content .color-container.selected-source .color .color-content {
        padding-top: 5px; }
    #content .color-container.selected {
      width: 64px;
      height: 64px;
      border: 3px #444 solid; }
    #content .color-container.merged {
      cursor: default; }
      #content .color-container.merged .color {
        height: calc(100% - 10px);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: rgba(68, 68, 68, 0.8); }
        #content .color-container.merged .color .color-content {
          padding-top: 22px; }

/*# sourceMappingURL=main.css.map */
