// TODO: modularize this sass, yeesh

* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #666;

  .logo {
    padding: 9px 0 0 10px;
    font: 35px Bitter;
    color: #eee;
  }

  .image-controls {
    position: absolute;

    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    .image-button {
      position: relative;
      background-color: #222;
      float: left;
      width: 40px;
      height: 40px;
      margin: 5px;
      border-radius: 5px;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .icon-button {
      float: left;
      margin: 5px;
    }
  }
}

body {
  overflow: hidden;
}

.icon-button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #eee;
  background-size: 40px 40px;
  font-size: 11px;
  cursor: pointer;

  &.dark {
    background-color: #666;
  }

  &.disabled {
    opacity: .25;
    cursor: default;
  }
}

.icon-merge {
  background-image: url(../img/icons/merge.png);
}

.icon-toggle {
  background-image: url(../img/icons/toggle.png);
}

.icon-compare {
  background-image: url(../img/icons/compare.png);
  transition: transform .2s ease-in-out;
}

.comparison-visible .icon-compare {
  transform: rotate(180deg);
  transition: transform .35s ease-in-out;
}

.icon-max {
  background-image: url(../img/icons/max.png);
}

.icon-up {
  background-image: url(../img/icons/up.png);
}

.icon-down {
  background-image: url(../img/icons/down.png);
}

.icon-min {
  background-image: url(../img/icons/min.png);
}

.icon-settings-dark {
  background-image: url(../img/icons/settings-dark.png);
}

#display, #content {
  position: relative;
  width: 100%;
  height: calc(50% - 30px);
  transition: all .2s ease-in-out;
}

#display.toggle-mode {
  height: calc(100% - 60px);
  transition: all .35s ease-in-out;
}

#content.toggle-mode {
  height: 0;
  padding: 0;
  transition: all .35s ease-in-out;
}

#display {
  .instructions {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: #666;
    font: 12px Bitter;
    opacity: 0;

    transition: opacity .2s ease-in-out;
  }

  .controls {
    margin: 10px 0 0 10px;

    .icon-button {
      float: left;
      margin-right: 10px;
    }
  }

  .ratio-controls {
    position: absolute;
    right: 10px;
    bottom: 10px;

    .icon-button {
      margin-top: 10px;
    }
  }

  &.comparison-visible {
    width: calc(100% - 250px);
    transition: all .35s ease-in-out;
  }
}

#canvas, #canvas-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#canvas {
  z-index: 1;
}

#canvas-toggle {
  display: none;

  &.visible {
    display: block;
    z-index: 0;
  }
}

#comparison {
  position: absolute;
  right: 0;
  top: 60px;
  width: 0;
  height: calc(50% - 20px);
  overflow: hidden;
  background-color: #222;

  transition: width .2s ease-in-out;

  &.visible {
    width: 250px;
    transition: width .35s ease-in-out;
  }

  canvas, .instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .instructions {
    width: 130px;
    text-align: center;
    color: #eee;
    font: 14px Bitter;
  }
}

#content {
  overflow-y: auto;
  box-sizing: border-box;
  padding: 10px;
  background-color: #eee;

  .color-container {
    float: left;
    width: 70px;
    height: 70px;
    margin: 3px;
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;

    .color {
      width: 100%;
      font: 14px Bitter;
      color: #ccc;
      text-align: center;
    }

    &.selected-source {
      .color {
        height: 30px;
        margin-top: 21px;
        background-color: rgba(68, 68, 68, .8);

        .color-content {
          padding-top: 5px;
        }
      }
    }

    &.selected {
      width: 70px - 6px;
      height: 70px - 6px;
      border: 3px #444 solid;
      .color {
      }
    }

    &.merged {
      cursor: default;

      .color {
        height: calc(100% - 10px);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: rgba(68, 68, 68, .8);

        .color-content {
          padding-top: 22px;
        }
      }
    }
  }
}